
.movie-picture{
  height: 250px;
  width: 150px;
  object-fit: cover;
}

.movie-name{
  margin: 0px;
  padding: 16px;
  font-size: 15px;
}

.movie-container{
  width: 150px;

  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: 0.2s;
}

.movie-container:hover{
  transform: scale(1.2);
}

.movie-list-container{
  
  gap: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

body{
  background-color: whitesmoke;
  font-family: 'Corinthia', cursive;
  font-family: 'Gwendolyn', cursive;
  font-family: 'Poppins', sans-serif;
}
